@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-red-sig {
    background-color: #B02000;
}

.border-red-sig {
    border-color: #B02000;
}

.outline-red-sig {
    outline: none;
}

.outline-red-sig:focus {
    outline: #B02000 solid 1px;
}

.text-red-sig {
    color: #B02000;
}

.focused-text-red-sig:focus {
    color: #B02000;
}

.bg-red-sig-gradient {
    background-image: linear-gradient(90deg, #FF370B, #B02000);
    /*background: linear-gradient(90deg, #FF370B 100%, #B02000 0%);*/
}